body {
	background-color: #141414;
	font-family: 'Roboto', sans-serif;
}
#continue {
	text-align: center;
	margin-top: 50vh;
}

video {
	visibility: hidden;
	position: fixed;
 	right: 0;
 	bottom: 0;
  	min-width: 100%; 
 	min-height: 100%;
}

a {
	color: ghostwhite;
	font-size: 40px;
	opacity: 0.6;
  	transition: 0.3s;
  	user-select: none;
}

a:hover {
	opacity: 1;
}

#bio {
	border: 3px solid white;
	border-radius: 5px;
	width: 450px;
	height: 100px;
	position: sticky;
	background-color: #141414;
	margin: auto;
	margin-top: -150px;
	color: whitesmoke;
}
#bio-title {
	text-align: center;
	font-size: 30px;
	margin-top: 3px;
	user-select: none;
}
#icons {
	margin-left: 105px;
}
img {
	width: 50px;
	float: left;
	margin-left: 20px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');